header {
  background-color: var(--main-blue);
  color: var(--white);
  padding: 1.5rem;
  text-align: center;

  .logo {
    height: 120px;
    width: auto;
    display: block;
    margin: 0 auto 0.5rem;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1rem;
    padding: 0;
  }

  nav a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;

    &:hover {
      text-decoration: underline;
    }
  }
}
