// ------------------------------------------------------
// AJSEE – MAIN SCSS ENTRY POINT (Modular Architecture)
// ------------------------------------------------------
@use './globals' as *;
@use './utils/reset';

@use './partials/layout';
@use './partials/header';
@use './partials/hero';
@use './partials/events';
@use './partials/partners';
@use './partials/blog';
@use './partials/contact';
@use './partials/about-page';
@use './partials/footer';
@use './partials/events-page';
@use './partials/about-section';
@use '@styles/partials/microguides';
@use './partials/blog-page';
@use './partials/faq';
@use './partials/typeahead';
@use './partials/waitlist-banner';
@use './partials/coming-soon';
@use './partials/comments';


html, body { overflow-x: hidden; overflow-y: auto; }
.site-header { position: sticky; top: 0; z-index: 9999; }
